networkx~=2.6.2
numpy~=1.16.6
pandas~=1.1.5
torch~=1.9.0
scipy~=1.7.1
scikit_learn_extra
numba~=0.53.1
matplotlib
metis
tqdm
ipdb~=0.13.9
scikit_learn
tensorboardX~=2.4

dgl~=0.6.1
sklearn~=0.0
scikit-learn~=0.24.2
ica~=0.5
setuptools~=57.4.0